<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="launcher" class="Launcher"/>

    <bean id="mongobee" class="com.github.mongobee.Mongobee">
        <constructor-arg value="mongodb://localhost:27017"/>
        <property name="dbName" value="mongobee-example"/>
        <property name="changeLogsScanPackage" value="mongobee"/>
    </bean>

</beans>